<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tid103/test2/front
    RewriteRule ^tid103/test2/front/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /tid103/test2/front/index.html [L]
</IfModule>